<footer class="bg-[#EAECF0] flex flex-col items-center pt-[31px] pb-[48px]">
    <div class="container mx-auto flex flex-col gap-[44px] px-6">
        <div class="flex flex-col items-center gap-[30px]">
            <div class="">
                <img src="/assets/images/Logo.png" alt="logo" class="w-[150px] md:w-[200px]" />
            </div>
            <div class="w-full">
                <ul class="flex flex-wrap justify-center gap-[16px] md:space-x-[32px] text-[14px] md:text-[16px] font-semibold text-[#475467]">
                    <li>
                        <a href="/pages/about.html" class="hover:text-blue-500">About Us</a>
                    </li>
                    <li>
                        <a href="/pages/services.html" class="hover:text-blue-500">Our Services</a>
                    </li>
                    <li>
                        <a href="/pages/blog.html" class="hover:text-blue-500">Contact Us</a>
                    </li>
                    <li class="flex gap-[3px] items-center">
                        <a href="#" class="hover:text-blue-500">Careers</a>
                        <div class="">
                            <img src="/assets/images/arrow-up-right.png" alt="" class="w-[12px] md:w-[16px]" />
                        </div>
                    </li>
                    <li>
                        <a href="/pages/contact.html" class="hover:text-blue-500">Blog</a>
                    </li>
                    <li>
                        <a href="/pages/contact.html" class="hover:text-blue-500">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="/pages/contact.html" class="hover:text-blue-500">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-full flex flex-col md:flex-row items-center justify-between pt-[32px] border-t border-[#d2d2d2]">
            <div class="font-normal text-[12px] md:text-[14px] text-[#475467] text-center md:text-left">
                Copyright © 2025 Golden Compliance, All rights reserved.
            </div>
            <div class="flex gap-[16px] pt-4 md:pt-0">
                <div><img src="/assets/images/Linkedin.png" alt="linkedin" class="w-[24px] md:w-[32px]" /></div>
                <div><img src="/assets/images/facebook.png" alt="facebook" class="w-[24px] md:w-[32px]" /></div>
            </div>
        </div>
    </div>
</footer>
