<section class="h-[100%] flex items-center justify-center px-4 lg:px-[80px]">
    <div class="flex gap-10 items-center justify-center py-20 w-full max-w-[1280px]">
      <div class="flex flex-col flex-1 w-full">
        <div class="flex flex-col gap-[12px]">
          <p class="text-[14px] font-bold text-center text-[#217FF3]">OUR STRENGTHS</p>
          <h3 class="text-[36px] font-bold text-center text-[#101828] leading-[44px]">Our areas of regulatory expertise</h3>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-[32px] w-full">
          
          <div class="flex flex-col items-center p-[21px] rounded-[10px] gap-[17px]">
            <div class="flex flex-col items-center gap-[19px]">
              <div class="bg-[#fff] w-[48px] h-[48px] border border-[#EAECF0] shadow_sm rounded-[10px] p-[12px] flex items-center justify-center">
                <img src="/assets/images/our_strength_icon_1.png" alt="our_strength_icon_1" />
              </div>
              <h5 class="font-semibold text-[#101828] text-[23px] leading-[27.6px] text-center">
                Governance, Board and Senior Management Obligations
              </h5>
            </div>
            <div>
              <p class="text-[15px] font-normal text-[#475467] text-center">
                We build strong frameworks to help senior leaders meet regulatory and strategic duties effectively.
              </p>
            </div>
          </div>
  
          <div class="flex flex-col items-center p-[21px] rounded-[10px] gap-[17px]">
            <div class="flex flex-col items-center gap-[19px]">
              <div class="bg-[#fff] w-[48px] h-[48px] border border-[#EAECF0] shadow_sm rounded-[10px] p-[12px] flex items-center justify-center">
                <img src="/assets/images/our_strength_icon_2.png" alt="our_strength_icon_2" />
              </div>
              <h5 class="font-semibold text-[#101828] text-[23px] leading-[27.6px] text-center">
                Environmental Social and Governance
              </h5>
            </div>
            <div>
              <p class="text-[15px] font-normal text-[#475467] text-center">
                We provide guidance to help businesses integrate ESG principles into their operations, promoting sustainability and ethical decision-making.
              </p>
            </div>
          </div>
  
          <div class="flex flex-col items-center p-[21px] rounded-[10px] gap-[17px]">
            <div class="flex flex-col items-center gap-[19px]">
              <div class="bg-[#fff] w-[48px] h-[48px] border border-[#EAECF0] shadow_sm rounded-[10px] p-[12px] flex items-center justify-center">
                <img src="/assets/images/our_strength_icon_3.png" alt="our_strength_icon_3" />
              </div>
              <h5 class="font-semibold text-[#101828] text-[23px] leading-[27.6px] text-center">
                Risk, Conduct and Culture
              </h5>
            </div>
            <div>
              <p class="text-[15px] font-normal text-[#475467] text-center">
                Our expertise helps organizations foster a culture of integrity, minimize risks, and promote ethical conduct across all levels.
              </p>
            </div>
          </div>
  
          <div class="flex flex-col items-center p-[21px] rounded-[10px] gap-[17px]">
            <div class="flex flex-col items-center gap-[19px]">
              <div class="bg-[#fff] w-[48px] h-[48px] border border-[#EAECF0] shadow_sm rounded-[10px] p-[12px] flex items-center justify-center">
                <img src="/assets/images/our_strength_icon_4.png" alt="our_strength_icon_4" />
              </div>
              <h5 class="font-semibold text-[#101828] text-[23px] leading-[27.6px] text-center">
                Financial Crime
              </h5>
            </div>
            <div>
              <p class="text-[15px] font-normal text-[#475467] text-center">
                Golden Compliance offers proactive strategies to prevent, detect, and respond to financial crimes, safeguarding your business and reputation.
              </p>
            </div>
          </div>
  
          <div class="flex flex-col items-center p-[21px] rounded-[10px] gap-[17px]">
            <div class="flex flex-col items-center gap-[19px]">
              <div class="bg-[#fff] w-[48px] h-[48px] border border-[#EAECF0] shadow_sm rounded-[10px] p-[12px] flex items-center justify-center">
                <img src="/assets/images/our_strength_icon_5.png" alt="our_strength_icon_5" />
              </div>
              <h5 class="font-semibold text-[#101828] text-[23px] leading-[27.6px] text-center">
                Regulatory Reporting
              </h5>
            </div>
            <div>
              <p class="text-[15px] font-normal text-[#475467] text-center">
                We assist in ensuring accurate and timely regulatory reporting, keeping you compliant and prepared for audits.
              </p>
            </div>
          </div>
  
          <div class="flex flex-col items-center p-[21px] rounded-[10px] gap-[17px]">
            <div class="flex flex-col items-center gap-[19px]">
              <div class="bg-[#fff] w-[48px] h-[48px] border border-[#EAECF0] shadow_sm rounded-[10px] p-[12px] flex items-center justify-center">
                <img src="/assets/images/our_strength_icon_6.png" alt="our_strength_icon_6" />
              </div>
              <h5 class="font-semibold text-[#101828] text-[23px] leading-[27.6px] text-center">
                Operational Resilience
              </h5>
            </div>
            <div>
              <p class="text-[15px] font-normal text-[#475467] text-center">
                Our solutions strengthen your ability to anticipate, prepare for, and recover from operational disruptions, ensuring business continuity.
              </p>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  