<!-- Section Service we offer -->
<section class="h-[100%] flex flex-col items-center justify-center px-4 lg:px-[80px]">
    <div class="flex flex-col gap-10 items-center justify-center py-10 w-full max-w-[1280px]">
      <div class="flex flex-col items-center w-full md:w-[468.6px] gap-2 ">
        <p class="text-[#217FF3] text-[14px] font-bold">SERVICES WE OFFER</p>
        <h2 class="text-[28px] md:text-[38px] font-bold text-[#181818] leading-[30px] md:leading-[41.8px] text-center">
          We work with you to make your vision a reality
        </h2>
      </div>
  
      <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-3 gap-4">
        <!-- Service 1 -->
        <div class="bg-[#fff] rounded-[10px]">
          <div class="w-full object-cover">
            <img
              src="/assets/images/service_we_offer_image_1.png"
              alt="service we service_we_offer_image_1"
              class="rounded-tr-[10px] rounded-tl-[10px] w-full"
            />
          </div>
          <div class="p-[12px] lg:p-[32px] w-full">
            <div class="flex gap-[15px] flex-col lg:flex-row items-start border-b border-[#dfdfdf] pb-[20px]">
              <div class="bg-[#217FF3] w-[56px] h-[56px] rounded-[28px] flex items-center justify-center p-3">
                <img src="/assets/images/service_we_offer_icon_1.png" alt="service_we_offer_icon_1">
              </div>
              <div class="w-[269.2px]">
                <h5 class="font-semibold text-[#181818] text-[20px] md:text-[23px] leading-[24px] md:leading-[27.6px]">Global Regulatory Licensing</h5>
              </div>
            </div>
  
            <div class="h-[200px] lg:h-[300px] flex flex-col justify-between">
              <div class="py-7">
                <p class="text-[14px] sm:text-[16px] text-[#515151]">
                  GCS’s expert team provides regulatory registration and licensing services taking the burden of regulatory requirements off business operators.
                </p>
              </div>
              <div>
                <a
                  href="#"
                  class="font-bold uppercase rounded-[5px] bg-[#217FF3] hover:bg-[#2180f3e7] px-[31px] py-[15px] text-white"
                >
                  Learn More
                </a>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Service 2 -->
        <div class="bg-[#fff] rounded-[10px]">
          <div class="w-full object-cover">
            <img
              src="/assets/images/service_we_offer_image_2.png"
              alt="service we service_we_offer_image_2"
              class="rounded-tr-[10px] rounded-tl-[10px] w-full"
            />
          </div>
          <div class="p-[32px] lg:p-[32px] w-full">
            <div class="flex gap-[15px] flex-col lg:flex-row items-start border-b border-[#dfdfdf] pb-[20px]">
              <div class="bg-[#217FF3] w-[56px] h-[56px] rounded-[28px] flex items-center justify-center ">
                <img src="/assets/images/service_we_offer_icon_2.png" alt="service_we_offer_icon_2">
              </div>
              <div class="w-[269.2px]">
                <h5 class="font-semibold text-[#181818] text-[20px] md:text-[23px] leading-[24px] md:leading-[27.6px]">Regulatory Advisory and Assurance</h5>
              </div>
            </div>
  
            <div class="h-[200px] lg:h-[300px] flex flex-col justify-between">
              <div class="py-7">
                <p class="text-[14px] sm:text-[16px] text-[#515151]">
                  Our award-winning team helps clients navigate complex regulatory landscapes, offering tailored solutions from governance and risk management to financial crime prevention.
                </p>
              </div>
              <div>
                <a
                  href="#"
                  class="font-bold uppercase rounded-[5px] bg-[#217FF3] hover:bg-[#2180f3e7] px-[31px] py-[15px] text-white"
                >
                  Learn More
                </a>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Service 3 -->
        <div class="bg-[#fff] rounded-[10px]">
          <div class="w-full object-cover">
            <img
              src="/assets/images/service_we_offer_image_3.png"
              alt="service we service_we_offer_image_3"
              class="rounded-tr-[10px] rounded-tl-[10px] w-full"
            />
          </div>
          <div class="p-[32px] lg:p-[32px] w-full">
            <div class="flex gap-[15px] flex-col lg:flex-row items-start border-b border-[#dfdfdf] pb-[20px]">
              <div class="bg-[#217FF3] w-[56px] h-[56px] rounded-[28px] flex items-center justify-center">
                <img src="/assets/images/service_we_offer_icon_3.png" alt="service_we_offer_icon_3">
              </div>
              <div class="w-[269.2px]">
                <h5 class="font-semibold text-[#181818] text-[20px] md:text-[23px] leading-[24px] md:leading-[27.6px]">Governance, Risk, and Compliance Design</h5>
              </div>
            </div>
  
            <div class="h-[200px] lg:h-[300px] flex flex-col justify-between">
              <div class="py-7">
                <p class="text-[14px] sm:text-[16px] text-[#515151]">
                  Our GRC Design service helps organizations develop tailored frameworks, systems, and controls to manage governance, mitigate risks, and ensure regulatory compliance.
                </p>
              </div>
              <div>
                <a
                  href="#"
                  class="font-bold uppercase rounded-[5px] bg-[#217FF3] hover:bg-[#2180f3e7] px-[31px] py-[15px] text-white"
                >
                  Learn More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  