/* @tailwind base;
@tailwind components; */
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');


.archivo {
    font-family: "Archivo", serif;
  }
  
.background {  
    background: linear-gradient(90deg, #1B4962 0%, rgba(27, 73, 98, 0.50) 100%);
}

.shadow_sm {  
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

  /* Scrollbar styling for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light grey track */
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Darker grey handle */
    border-radius: 6px;
    border: 2px solid #f1f1f1; /* Makes the scrollbar look smaller */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker grey on hover */
  }
  
  html, body {
    overflow-x: hidden; /* Prevent horizontal overflow */
  }